	<ion-view view-title="新闻动态">
		<ion-content>
        <ion-list class="animate-ripple">
            <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="blinds();">
                <img src="img/material4.jpg">
                <h2>.animate-blinds</h2>
                <p>ionicMaterialMotion.blinds();</p>
                <i class="icon ion-chatbubble muted"></i>
            </ion-item>
            <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="ripple();">
                <img src="img/material2.jpg">
                <h2>.animate-ripple</h2>
                <p>ionicMaterialMotion.ripple();</p>
                <i class="icon ion-chatbubble muted"></i>
            </ion-item>
            <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="fadeSlideIn();">
                <img src="img/material3.jpg">
                <h2>.animate-fade-slide-in</h2>
                <p>ionicMaterialMotion.fadeSlideIn();</p>
                <i class="icon ion-chatbubble muted"></i>
            </ion-item>
            <ion-item nav-clear menu-close class="item-icon-right item-avatar" ng-click="fadeSlideInRight();">
                <img src="img/material1.jpg">
                <h2>.animate-fade-slide-in-right</h2>
                <p>ionicMaterialMotion.fadeSlideInRight();</p>
                <i class="icon ion-chatbubble muted"></i>
            </ion-item>
        </ion-list>
    </ion-content>
	</ion-view>

    <ion-tabs class="tabs-stable tabs-icon-top">
          <ion-tab title="新闻中心" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" ui-sref="tab.index">
            <!-- Tab 1 content -->
          </ion-tab>
          <ion-tab title="魅力句容" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" ui-sref="tab.list">
            <!-- Tab 2 content -->
          </ion-tab>
          <ion-tab title="公共服务" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" ui-sref="tab.list">
            <!-- Tab 3 content -->
          </ion-tab>
          <ion-tab title="互动交流" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" ui-sref="tab.list">
            <!-- Tab 4 content -->
          </ion-tab>
    </ion-tabs>